@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    // @apply font-arabic;
    font-family: "Noto Sans Arabic", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  input[type="password"]::-webkit-textfield-decoration-button,
  input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
  }
  input[type="password"]::-ms-reveal {
    display: none !important;
  }
  input[type="password"]::-moz-reveal {
    display: none !important;
  }
}

@layer components {
  .auth-box {
    @apply w-5/6 max-w-[300px];

    & .auth-heading {
      @apply flex flex-col gap-y-3 items-center;
    }
    & .head {
      @apply text-[19px] font-semibold text-[#2A2A2A];
    }
    & .desc {
      @apply text-[12px] font-normal text-[#93A0B9];
    }
    & form {
    }
    & .input-phone-icon {
      @apply absolute inset-y-0 start-0 top-0 flex items-center ps-3 pointer-events-none;
    }
    & .input-password-icon {
      @apply absolute inset-y-0 end-0 top-0 flex items-center pe-3 hover:cursor-pointer;
    }
    & .label {
      @apply text-[#18191C]/40 block mb-2 text-xs font-medium;
    }
    & .input {
      @apply bg-white border text-[#2A2A2A] text-xs rounded-lg outline-none  block w-full p-2;
      &.valid {
        @apply border-[#5eb756];
      }
      &.error {
        @apply border-red-600;
      }
    }
    & .input--ps {
      @apply ps-8;
    }
    & .input--pe {
      @apply pe-8;
    }
    & .otp-container {
      direction: ltr;
      @apply justify-center gap-x-2 py-1;
      & .otp-input {
        width: 36px !important ;
        @apply h-9 text-sm rounded-md border border-[#5EB756] font-black outline-none focus:border-2;
        &.valid {
          @apply border-[#5eb756];
        }
        &.error {
          @apply border-red-600;
        }
      }
    }
    & .auth-link {
      @apply text-[10px] font-normal text-[#E97E39] hover:underline;
    }
    & .auth-button {
      @apply w-full text-white text-xs font-medium rounded-lg bg-gradient-to-r from-[#5EB756] to-[#4C9046] py-2 focus:outline-none;
      &:disabled {
        @apply cursor-not-allowed opacity-50;
      }
    }
  }
  .animate {
    position: absolute;
    z-index: -1;
    border: 2px solid #5eb756;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-layout {
    .sidebar-group {
      @apply flex w-full flex-col gap-y-3;
    }

    .sidebar-item {
      @apply flex flex-shrink-0 items-center gap-x-3
       h-[40px] w-full border-r-4 border-r-transparent rounded-[15px]
        text-[13px] font-[600] transition-all
        text-[#5D5D5D] stroke-[#6D6D6D] p-2;
      &.active,
      &:hover {
        @apply bg-white text-[#E97E39] stroke-[#E97E39] border-r-[#E97E39];
      }
    }

    .btn-ghost {
      @apply flex items-center justify-center rounded-lg transition-[border-color] border-2 w-10 h-10 bg-[#F8F8F8] hover:border-[#5eb756];
      // &.absolute-btn {
      //   @apply absolute -right-0 top-full translate-x-1/2 rounded-full bg-[#f8f8f8];
      // }
    }

    .link {
      @apply text-[10px] font-medium text-slate-900 hover:underline;
    }

    .input {
      @apply h-10 flex items-center flex-shrink gap-x-2 rounded-lg border-2  bg-[#F8F8F8] px-2 text-base has-[input:focus]:border-[#5eb756] md:w-auto lg:w-80;
    }

    .card {
      @apply flex flex-col flex-1 overflow-hidden gap-y-2 rounded-lg border border-[#5EB756] bg-white p-2;
    }

    .card-header {
      @apply flex items-center justify-between;
    }

    .card-title {
      @apply font-medium text-xs text-black;
    }
    .card-button {
      @apply bg-[#5EB756] flex justify-center items-center gap-x-1 rounded-lg p-2;
    }

    .card-body {
      @apply flex flex-col flex-1 gap-y-2 rounded-lg overflow-auto relative;
    }

    .table {
      @apply h-full w-full text-slate-900 text-center;
      &.users-table {
        .table-cell:nth-of-type(1) {
          @apply min-w-[50px] w-[75px];
        }
        .table-cell:nth-of-type(2) {
          @apply min-w-[150px] max-w-[150px];
        }
        .table-cell:nth-of-type(3) {
          @apply min-w-[100px] max-w-[100px];
        }
        .table-cell:nth-of-type(4) {
          @apply min-w-[75px] max-w-[100px];
        }
        .table-cell:nth-of-type(5) {
          @apply min-w-[50px] w-[75px];
        }
        .table-cell:nth-of-type(6) {
          @apply min-w-[50px] w-[75px];
        }
        .table-cell:nth-of-type(7) {
          @apply min-w-[50px] w-[75px];
        }
      }
    }

    .table-header {
      @apply sticky top-0 z-10 bg-white border-b border-[#E7E7E7];
    }

    .table-row {
      @apply border-b border-[#E7E7E7] last:border-none;
    }

    .table-head {
      @apply py-3 text-[10px] font-normal bg-white;
    }

    .table-cell {
      @apply w-fit whitespace-nowrap overflow-hidden text-ellipsis py-1 text-[10px] font-medium bg-white;
    }
    .table-row.baned .table-cell{
      @apply bg-red-100;
    }
  }

  #modal {
    .field {
      @apply flex sm:items-center max-sm:flex-col;
      .label {
        @apply block text-[#414651] font-medium text-xs max-sm:mb-1 sm:w-1/4;
      }
      .input {
        @apply block w-full py-2 px-3 rounded-lg text-xs text-[#414651] border border-transparent focus:outline-none focus:border-[#5EB756] hover:border-[#5EB756];
      }
    }
  }
}

.animate_slideInUp {
  animation: slideInUp 0.3s ease-out forwards;
}
.animate_slideOutDown {
  animation: slideOutDown 0.3s ease-out forwards;
}
.animate_fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.animate_fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@for $i from 1 through 10 {
  .animate-num-#{$i} {
    animation: myAnimation 3s linear calc(#{$i} / 2 * 1s) infinite;
  }
}

@keyframes myAnimation {
  to {
    width: 500px;
    height: 500px;
    border-color: #5eb75600;
  }
}
