@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="password"]::-webkit-textfield-decoration-button,
  input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
  }
  input[type="password"]::-ms-reveal {
    display: none !important;
  }
  input[type="password"]::-moz-reveal {
    display: none !important;
  }
}

@layer components {
  .auth-box {
    @apply w-5/6 max-w-[300px];

    & .auth-heading {
      @apply flex flex-col gap-y-3 items-center;
    }
    & .head {
      @apply text-[19px] font-semibold text-[#2A2A2A];
    }
    & .desc {
      @apply text-[12px] font-normal text-[#93A0B9];
    }
    & form {
    }
    & .input-phone-icon {
      @apply absolute inset-y-0 start-0 top-0 flex items-center ps-3 pointer-events-none;
    }
    & .input-password-icon {
      @apply absolute inset-y-0 end-0 top-0 flex items-center pe-3 hover:cursor-pointer;
    }
    & .label {
      @apply text-[#18191C]/40 block mb-2 text-xs font-medium;
    }
    & .input {
      @apply bg-white border text-[#2A2A2A] text-xs rounded-lg outline-none  block w-full p-2;
      &.valid {
        @apply border-[#5eb756];
      }
      &.error {
        @apply border-red-600;
      }
    }
    & .input--ps {
      @apply ps-8;
    }
    & .input--pe {
      @apply pe-8;
    }
    & .otp-container {
      direction: ltr;
      @apply justify-center gap-x-2 py-1;
      & .otp-input {
        width: 36px !important ;
        @apply h-9 text-sm rounded-md border border-[#5EB756] font-black outline-none focus:border-2;
        &.valid {
          @apply border-[#5eb756];
        }
        &.error {
          @apply border-red-600;
        }
      }
    }
    & .auth-link {
      @apply text-[10px] font-normal text-[#E97E39] hover:underline;
    }
    & .auth-button {
      @apply w-full text-white text-xs font-medium rounded-lg bg-gradient-to-r from-[#5EB756] to-[#4C9046] py-2 focus:outline-none;
      &:disabled {
        @apply cursor-not-allowed opacity-50;
      }
    }
  }
  .animate {
    position: absolute;
    z-index: -1;
    border: 2px solid #5eb756;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@for $i from 1 through 10 {
  .animate-num-#{$i} {
    animation: myAnimation 3s linear #{$i / 2}s infinite;
  }
}
@keyframes myAnimation {
  to {
    width: 500px;
    height: 500px;
    border-color: #5eb75600;
  }
}